# From macOS.gitignore
.DS_Store

# From Emacs.gitignore
*~

# From JupyterNotebooks.gitignore
.ipynb_checkpoints

# From JetBrains.gitignore
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Local
Lanczos3.dat
Norris.dat
download
import-file-test.ipynb
**/Untitled.ipynb
student_feedback
**/www.itl.nist.gov/
mindevfit.eps