.DS_Store
.ipynb_checkpoints
*~
*-eps-converted-to.pdf
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
Lanczos3.dat
Norris.dat
download
import-file-test.ipynb
**/Untitled.ipynb

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
